.tab{
    &.tab-method{
        display:flex;
        flex-direction: row;
        input{
            max-width:60%;
        }
        
        &-page{
            padding:4rem 4rem;
            min-height:20rem;
            border: 2px solid $teal-light;
            width: 100%;
            border-radius: 0.25rem;
            color:$teal-light;

            .form-group{
                max-width: 80%;
               
            }
        } 
    }
    
} 
